services:
  pocketbase:
    image: adrianmusante/pocketbase:latest
    ports:
      - "8090:8090"
    volumes:
      - pbvol:/pocketbase
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8090/api/health"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      pocketbase:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          initial_sync: true
volumes:
  pbvol:
